<mat-card>
  <mat-card-content>
    <div class="ui-g">
      <p-table [columns]="cols" [value]="products" [(selection)]="selectedProduct" dataKey="id">
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th style="width: 3em"></th>
            <th *ngFor="let col of columns">
              {{col.header}}
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns">
          <tr [pSelectableRow]="rowData">
            <td>
              <p-tableRadioButton [value]="rowData"></p-tableRadioButton>
            </td>
            <td *ngFor="let col of columns">
              {{rowData[col.field]}}
            </td>
          </tr>
        </ng-template>
      </p-table>
      <p-button icon="pi pi-arrow-left" (click)="doBack($event)" label="返回"></p-button>&nbsp;&nbsp;&nbsp;
      <p-button icon="pi pi-arrow-right" (click)="doNext($event)" label="下一步"></p-button>
    </div>
  </mat-card-content>
</mat-card>