<div>
  <p>
    product-list works!
  </p>
  <p-table [columns]="cols" [value]="products" selectionMode="single" [(selection)]="selectProduct" (onRowSelect)="onRowSelect($event)"
    [paginator]="true" [rows]="15">
    <ng-template pTemplate="caption" i18n>
      产品列表
    </ng-template>
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th *ngFor="let col of columns" [pSortableColumn]="col.field">
          {{col.header}}
          <p-sortIcon [field]="col.field"></p-sortIcon>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
      <tr [pSelectableRow]="rowData">
        <td *ngFor="let col of columns">
          {{rowData[col.field]}}
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="summary" let-rowData>
      <div style="text-align:left">
        <button type="button" pButton icon="fa fa-plus" (click)="showDialogToAdd()" label="Add"></button>
      </div>
    </ng-template>
  </p-table>

  <p-dialog header="Details" [(visible)]="displayEditDialog" [responsive]="true" showEffect="fade" [modal]="true" [width]="300">
    <div class="ui-g ui-fluid" *ngIf="product">
      <div class="ui-g-12" *ngIf="!newProduct">
        <div class="ui-g-4">
          <label for="vin" i18n>编号</label>
        </div>
        <div class="ui-g-8">
          <input pInputText id="id" readonly="true" [(ngModel)]="product.id" />
        </div>
      </div>

      <div class="ui-g-12">
        <div class="ui-g-4">
          <label for="name" i18n>名称</label>
        </div>
        <div class="ui-g-8">
          <input pInputText id="name" [(ngModel)]="product.name" />
        </div>
      </div>
      <div class="ui-g-12">
        <div class="ui-g-4">
          <label for="spec" i18n>规格</label>
        </div>
        <div class="ui-g-8">
          <input pInputText id="spec" [(ngModel)]="product.spec" />
        </div>
      </div>
      <div class="ui-g-12">
        <div class="ui-g-4">
          <label for="weight" i18n>重量</label>
        </div>
        <div class="ui-g-8">
          <input pInputText id="weight" [(ngModel)]="product.weight" />
        </div>
      </div>
      <div class="ui-g-12">
        <div class="ui-g-4">
          <label for="remark" i18n>备注</label>
        </div>
        <div class="ui-g-8">
          <input pInputText id="remark" [(ngModel)]="product.remark" />
        </div>
      </div>
    </div>
    <p-footer>
      <div class="ui-dialog-buttonpane ui-helper-clearfix">
        <button type="button" pButton icon="fa fa-close" (click)="delete()" label="Delete"></button>
        <button type="button" pButton icon="fa fa-check" (click)="save()" label="Save"></button>
      </div>
    </p-footer>
  </p-dialog>
</div>