<!--The content below is only a placeholder and can be replaced.-->
<div class="ui-g">
  <div [hidden]="!showMenuTools" [ngClass]="{'ui-g-2':showMenuTools,'main-menu':true}">
    <app-menu></app-menu>
  </div>
  <div [ngClass]="{'ui-g-10':showMenuTools,'ui-g-12':!showMenuTools}">
    <router-outlet></router-outlet>
  </div>
</div>
<p-toast [style]="{marginTop: '80px'}"></p-toast>
<p-toast [style]="{marginTop: '80px'}" position="top-left" key="tl"></p-toast>
<p-toast [style]="{marginTop: '80px'}" position="top-center" key="tc"></p-toast>