<mat-card>
  <mat-card-content>
    <div>
      <div class="login-panel">
        <form (ngSubmit)="doLogin()" #loginForm="ngForm">
          <div class="form-group">
            <mat-form-field class="full-width">
              <input [(ngModel)]="loginID" required name="loginIDInput" matInput placeholder="登入名" #loginIDInput="ngModel">
            </mat-form-field>
            <div [hidden]="loginIDInput.valid || loginIDInput.pristine" class="alert alert-danger">
              请输入登入名
            </div>
          </div>
          <div class="form-group">
            <mat-form-field class="full-width">
              <input [(ngModel)]="password" required matInput type="password" placeholder="密码" name="passwordInput" #passwordInput="ngModel">
            </mat-form-field>
            <div [hidden]="passwordInput.valid || passwordInput.pristine" class="alert alert-danger">
              请输入密码
            </div>
          </div>
          <br/>
          <br/>

          <button type="submit" [disabled]="!loginForm.form.valid" mat-raised-button color="primary" i18n>Login</button>
        </form>
      </div>
    </div>
  </mat-card-content>